<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>User registration</h1>
    <form action="/register/" method="post">
      <p>
        <label for="student_name">Name:</label>
        <br>
        <input type="text" name="student_name" placeholder="name">
      </p>
      <p>
        <label for="student_age">Age:</label>
        <br>
        <input type="text" name="student_age" placeholder="age">
      </p>
      <p>
        <label for="student_email">Email:</label>
        <br>
        <input type="email" name="student_email" placeholder="email">
      </p>
      <p>
        <button id="register" type="submit" name="button">Register</button>
      </p>
    </form>
  </body>
</html>
